.about-popup {
	display:block;
	visibility:hidden;
	position:absolute;
	background-color:white;
	border-style: ridge;
	border-radius: 6px;
	opacity: 0;
	margin: 0;
	margin-top: 10px;
	text-align: left;

	transition: opacity 0.3s linear, visibility 0s 0.3s, margin-top 0.5s;
	padding:10px 30px 40px;
	left: 50%;
	transform: translate(-50%, 0);
}
.about-popup-close {
	float:right;
}
.about-popup.show {
	visibility:visible;
	margin:0;
	margin-top: 30px;
	width: fit-content;
	max-height:80%;
	opacity: 1;
	transition: opacity 0.3s, margin-top 0.3s;
}

.night .about-popup {
	background-color:black;
}
.about-popup-close {
	float:right;
	transition: opacity 0.5s;
}

.notes-toggle {
	color: red;
	cursor:pointer;
}

.notes-and-warnings {
	text-align:left
}
.controls {
	text-align:left;
	list-style-type: none;
}